body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
#product-container {
  
  padding: 20px ;
  display: flex;
  gap: 10px;
  flex-direction: row;
}

#product-container .item {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: flex-end;
  width: 250px;
  padding: 10px;
  
  
}

.actions {

  margin-top: 30px;
  
  text-align: center;
  
}



#art-cart-container {
  position: absolute;
  right: 0;
  width: 300px;
  border: solid 1px #ccc;
  padding: 10px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.item .nombre {
  font-weight: bold;
}
.item .precio {
  color: green;
  font-weight: bold;
}
.item div {
  padding: 5px 0;
}

.total {
  padding: 10px 0;
  font-weight: bold;
  font-size: 20px;
}

button {
  border: none;
  background-color: rgb(14, 235, 187);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  
}

button:hover {
  background-color: rgb(9, 210, 167);
}

img{
  width: 250px;
  object-fit: cover;
}
.add {
  border-radius: 5px;
}